# list Practice

### 1.To create 5 different list using list comprehension method.

In [9]:
a=list(("one","two","three","four"))

b=[i for i in a if "o" in i]


print(b)

['one', 'two', 'four', 'one']

In [12]:
num=int(input())
for i in range(1,11):
    print(num,"*",i,"=",i*num)

3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [13]:
num=int(input())
b=[i*num for i in range(1,11)]
print(b)

3
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [4]:
a=list(("one","nine","three","four"))
b=[i if i !="nine" else "two" for i in a] 
print(b)

['one', 'two', 'three', 'four']

In [20]:
a=[0,1,2,3,4,45,98,5]

b=[i%2!=0 for i in a]
print(b)

[False, True, False, True, False, True, False, True]

In [17]:
a=[0,1,2,3,4,45,98,5]
b=[i for i in a if i%2==0]
print(b)

[0, 2, 4, 98]

In [28]:
a=['ONE', 'TwO', 'THrEE', 'F0UR']
b=[i.lower() for i in a]
print(b)

['one', 'two', 'three', 'four']

### 2.Create list , add random 10 numbers in list and print largest number of list

In [29]:
a=[22,80,100,1000,4,6,3,12,24,345,8890]
print(max(a))

8890

### 3.To check whether a given number is present in list or not?

In [44]:
a=[22,34,20,11,0,12,50,2,4,6,7,12,33,22]
b=int(input())
if b in a:
    print("It is present")
else:
    print("It is not")

2
It is present

### 4.To demonstrate any 10 methods of List

In [41]:
#.append
a= ["one", "two", "three"]
a.append("four")
print(a)

['one', 'two', 'three', 'four']

In [37]:
#.clear()
a= ["one", "two", "three"]
a.clear()
print(a)

[]

In [38]:
#.copy()
a= ["one", "two", "three"]
b=a.copy()
print(b)

['one', 'two', 'three']

In [40]:
#count()
a= ["one", "two", "three","two"]
b=a.count("two")
print(b)

2

In [45]:
#extend
a= ['one', 'two', 'three']
b = ['four', 'five', 'six']
a.extend(b)
print(a)

['one', 'two', 'three', 'four', 'five', 'six']

In [46]:
#index()
a = ['one', 'two', 'three']

b= a.index("three")

print(b)

2

In [48]:
#insert()
a= ['one', 'three', 'four']

a.insert(1, "two")

print(a)

['one', 'two', 'three', 'four']

In [49]:
#pop()
a = ['one', 'two', 'three','four']

a.pop()

print(a)

['one', 'two', 'three']

In [50]:
#remove()
a= ['one', 'two', 'three']

a.remove("three")

print(a)

['one', 'two']

In [51]:
#reverse()
a = ['three', 'two', 'one']

a.reverse()

print(a)

['one', 'two', 'three']

In [55]:
#sort()
a = [10, 1, 4]

a.sort()

print(a)

[1, 4, 10]

### 5.To add two list [ adding elements of list ]

In [1]:
a=[1,2,3,4]
b=[5,6,7,8]
c=[]
for (i,j) in zip(a,b):
    c.append(i-j)
print(c)

[-4, -4, -4, -4]

In [6]:
a=[1,2,3,4]
b=[5,6,7,8]
c=[6,7,8,9]
print(list(zip(a,b,c)))

[(1, 5, 6), (2, 6, 7), (3, 7, 8), (4, 8, 9)]

### 6.To implement a stack using a list

In [4]:
a=[]
a.append("apple")
a.append("banana")
a.append("cherry")

print(a)

a.pop()
print(a)

a.pop()
print(a)

a.pop()
print(a)

['apple', 'banana', 'cherry']
['apple', 'banana']
['apple']
[]

### 7.To sort a given number list in ascending order using functions.

In [4]:
def iram(a):
    v=sorted(a)h 
    print(v)
iram([10,4,5,6,2,3])

[2, 3, 4, 5, 6, 10]

In [4]:
#a=int(input())
#b=int(input())
def add(a,b):
    c=a+b

    return c

add()

TypeError: add() missing 2 required positional arguments: 'a' and 'b'

In [4]:
a=[1,2,3,4,4,4]
b=set(a)

print(list[b])

list[{1, 2, 3, 4}]

In [3]:
a=["a","b","c","d","e","f","g","h"]
print(a[-1:3])

['h', 'g', 'f', 'e']