# palidrome Number

In [2]:
def Palidrome_num(x):
    rev = 0
    i=x
    while x>0:
        rev=rev*10+x%10
        x=x//10
    if (i==rev):
        print("It is a palidrome Number")
    else:
        print("It is not palidrome Number")
x=int(input("enter any number: "))     
Palidrome_num(x)

enter any number: 525
It is a palidrome Number

# Palidrome String(using Slicing)

In [1]:
x=input("enter any word: ")   
b=x[::-1]
print(b)
if (b==x):
    print("It is palidrom")
else:
    print("It is not palidrome")

enter any word: iram
mari
It is not palidrome

# Palidrome String(using while loop)

In [2]:

def Palidrome_str(s):
#     x=input("enter any word: ")  
    n = len(s)
    f=0
    l=n-1
    while (f<l):
        if s[f]==s[l]:
            f += 1
            l -= 1
        else:
            return ("It is not plaidrome")
    return ("It is plaidrome")
x=input("enter any word: ")  
Palidrome_str(x)

enter any word: 22

'It is plaidrome'

# Generate an infinite fiboncii series by using a generator

In [ ]:
# def fiboncii_series():
#     a,b=0,1
#     while True:
#         yield a
#         a,b=b,a+b
# f1=fiboncii_series()
# for i in f1:
#     print(i)
    
    
# this is wrong methord because the loop will go into infinite times

# Generate an infinite fiboncii series by using a generator(using next)

In [3]:
def fiboncii_series():
    a,b=0,1
    while True:
        yield a
        a,b=b,a+b
f1=fiboncii_series()
print(next(f1))
print(next(f1))
print(next(f1))
print(next(f1))
print(next(f1))
print(next(f1))
print(next(f1))
print(next(f1))

0
1
1
2
3
5
8
13

# Fiboncii series using normal funtion

In [6]:

a=0
b=1
print(a)
print(b)
for i in range(10):
    c=a+b
    a=b
    b=c
    print(c)

0
1
1
2
3
5
8
13
21
34
55
89

# max number without using max()

In [117]:
def max_num(A):
    b=0
    for i in A:
        while i<b:
            b=i
    print("max number is",b)
b=0

A=[100,200,90,80,1]
max_num(A)
A=[100,400,90,80,1]
max_num(A)

max number is 0
max number is 0

In [ ]:
def max_num(A):
    b=0
    for i in A:
        while i>b:
            b=i
    print("max number is",b)
b=0

A=[100,200,90,80,1]
max_num(A)
A=[100,400,90,80,1]
max_num(A)

#  Find the student who has Highest marks ?

In [13]:
student = {"Umar":{"score": 67}, "Talha":{"score": 78}, "Shadab":{"score": 17}}
max=0
stu=''
for i in student:
    score=student.get(i)['score']
#     print(score)
    if score>max:
        max=score
#         print(max)
        stu=i
print ({stu:max})

{'Talha': 78}

# sort the list without using sort() it is insorting

In [21]:
def soring_num(num):
    for i in range(1,len(num)):
        while num[i-1]>num[i] and i>0: 
            num[i-1],num[i]=num[i],num[i-1]
            i = i-1
    print(num) 
num=[2,100,4,1]
soring_num(num)

[1, 2, 4, 100]

# Sort the list on the basis of second element in the tuple ?

In [57]:
def SortTuple(tup):
      
   
    n = len(tup)
    print(n)
      
    for i in range(n):
        for j in range(n-i-1):
          
            if tup[j][1] > tup[j + 1][1]:
                
                tup[j], tup[j + 1] = tup[j + 1], tup[j]
                  
    return tup
      
# Driver's code
tup= [("zoo", "peanuts"),(1, 'groot'), ("teams","ml"),('dell', 'ipad'), ('water', 'case'), (56,"apple")]

          
print(SortTuple(tup))

6
peanuts
groot
groot
groot
groot
groot
groot
groot
groot
groot
groot
groot
groot
case
case
[(56, 'apple'), ('water', 'case'), (1, 'groot'), ('dell', 'ipad'), ('teams', 'ml'), ('zoo', 'peanuts')]

#  normal list alphabatical sort

In [8]:
b=['peanuts', 'groot', 'ml', 'ipad', 'case', 'apple']
count=97
c=[]
while len(c)<len(b):
    for i in b:
        if ord(i[0])==count:
            c.append(i)
    count+=1
print(c)

['apple', 'case', 'groot', 'ipad', 'ml', 'peanuts']

# Swap adjacent elements in a list without using inbuilt functions?

In [27]:
def swapPositions(list, pos1, pos2):
     
    list[pos1], list[pos2] = list[pos2], list[pos1]
    return list
 
# Driver function
List = [23, 65, 19, 90]
pos1, pos2  = 0, 1
 
print(swapPositions(List, pos1, pos2))

[65, 65, 19, 90]

In [25]:
x=[1,2,3,4,5,6]
for i in range(1,len(x),2):
    x[i],x[i-1]=x[i-1],x[i]
print(x)

[2, 1, 4, 3, 6, 5]

In [39]:
x=[1,2,3,4,8]
for i in (0,len(x),2):
    if i<(len(x)):
        x[i],x[i+1]=x[i+1],x[i]
print(x)

[2, 1, 4, 3, 8]

# Write a program to enter the number till the user wants and at the end it should display the sum of all numbers entered.(using while loop)

In [29]:
total = 0
ele = 0

b = []
n=int(input("Enter how much number you want to add "))
for j in range(int(n)):
    k=int(input("Enter the number "))
    b.append(k)


while(ele < len(b)):
	total = total + b[ele]
	ele += 1
print("Sum of all elements in given list: ", total)

Enter how much number you want to add 4
Enter the number 6
Enter the number 6
Enter the number 6
Enter the number 6
Sum of all elements in given list:  24

# Find the unique number in a list using function?

In [26]:
arr = [2,1,4,3,1,4,2,5,9]
def odd_occurring_num(arr):
    return [i for i in arr if arr.count(i) < 2]
print(arr)

print(odd_occurring_num(arr))

[2, 1, 4, 3, 1, 4, 2, 5, 9]
[3, 5, 9]

In [34]:
arr = [2,1,4,3,1,4,2]
result=0
for i in arr:
    result^=i
print(result)

3

In [42]:
arr = [2,1,4,3,1,4,2]
new_arr=[]
for num in arr:
    if arr.count(num) == 1:
        new_arr.append(num)
        print(new_arr)

[3]

# Create a iterator to find all the Power of 3?

In [27]:

def sqaure(a):
   

    for i in a:
        a=i*i*i
        i+=1
        b.append(a)
    print(b)

a=[1,2,3,4,5,6,7,8,9]
b=[]

sqaure(a)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [49]:
def sqaure(a):
   

    for i in a:
        a=i*i*i
        i+=1
        b.append(a)
    print(b)
    c=iter(b)
    print(next(c))
    print(next(c))


a=[1,2,3,4,5,6,7,8,9]
b=[]



sqaure(a)

[1, 8, 27, 64, 125, 216, 343, 512, 729]
1
8

# Find the even and odd from the given list using anonymous function

In [12]:
a=[2,47,8]
b=[(lambda x: "even" if x%2==0 else "odd") (x) for x in a]
print(b)

['even', 'odd', 'even']

In [14]:
a=[2,47,8]
b=map(lambda x: "even" if x%2==0 else "odd",a)
print(list(b))

['even', 'odd', 'even']

In [15]:
def even_odd(x):
    b=[]
    for i in x:
        if i%2==0:
            b.append ("even")
            
        else:
            b.append ("odd")
    print (b) 
a=[2,6,9,6]

(even_odd(a))
#  p=[1,2,7]

# print(b)

k=[2,3,4,]
(even_odd(k))

['even', 'even', 'odd', 'even']
['even', 'odd', 'even']

# Calculate the cube of all numbers from 1 to a given number

In [1]:
a=int(input("Enter the number"))
for i in range(1,a+1):
    print("cube of number:",i,"=>",i**3)

Enter the number10
cube of number: 1 => 1
cube of number: 2 => 8
cube of number: 3 => 27
cube of number: 4 => 64
cube of number: 5 => 125
cube of number: 6 => 216
cube of number: 7 => 343
cube of number: 8 => 512
cube of number: 9 => 729
cube of number: 10 => 1000

In [ ]:
ser=int(input("Enter the number"))
for i in range(user+1):
    if i%5==0 and i%3==0:
        print(i,"fizzbizz")
    elif i%5==0 and i%3!=0:
        print(i,"buzz")
    elif i%3==0 and i%5!=0:
        print(i,"fizz")
    else:
        print(i,"none")

# Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument

In [20]:
def fact(number):
    result=1
    for i in range(1,number+1):
        result*=i
    return result

    
fact(5)

120

# Write a Python function to create and print a list where the values are square of numbers between 1 and 30 (both included).

In [42]:
list=[]
for i in range(1,31):
    list.append(i*i)
print(list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

# Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters¶

In [23]:
def case(user):
    lowercase=0
    Uppercase=0
    for i in user:
            if i.islower():
                lowercase=lowercase+1
                
                
            else:
                i.isupper()
                Uppercase=Uppercase+1
    
    print("lowercase count=",lowercase)
    print ("uppercase count=",Uppercase)
user=(input("enter the string "))
case(user)

enter the string Iram
lowercase count= 3
uppercase count= 1

# Define a function which counts vowels and consonant in a word.

In [26]:
 letter=input("Enter only one word: ")
def word(a):
    vowels1 = "a,i,e,o,u,I,A,O,U,E"
    vowel=0
    cont=0
    for i in letter:
        if i in vowels1:
            vowel+=1
    
        else:
            cont+=1
    print("Total vowels in given sentence:",vowel)
    print("Total consonant in given sentence:",cont)
word(letter)

Enter only one word: iram
Total vowels in given sentence: 2
Total consonant in given sentence: 2

# Define a function that accepts radius and returns the area of a circle.

In [ ]:
import math
r=float(input("Enter the number to find raduis: "))
area=math.pi * r * r
print ("Area of the circle is: ",area )

# Write a Python function to multiply all the numbers in a list.¶

In [ ]:
def multiply(b):
    result=1
    for i in b:
        
        result*=i
        print(result)
        
    return result
n=int(input("Enter how much number you want to multiply "))
b=[]

for j in range(int(n)):
    k=int(input("Enter the number "))
    b.append(k)

multiply(b)

In [56]:
li = [{"name":"raja","totalPremium":4569},{"name":"raja","totalPremium":"4569"}, {"name":"raja","totalPremium":4569.44},{"name":"raja","totalPremium":"4569.54"}]
li2=[]
for i in li:
    li2.append(float(i["totalPremium"]))
b=
print(sum(li2))

18276.98

# input="sky is blue"
# output="blue is sky"

In [11]:
a="sky is blue"
print(" ".join(a.split()[::-1]))

blue is sky

# dict1 = [{'item':'item1','amount':'400'},{'item':'item2','amount':'3000'},{'item':'item1','amount':'750'}]

In [31]:
dict1 = [{'item':'item1','amount':'400'},{'item':'item2','amount':'3000'},{'item':'item1','amount':'750'}]
dict2=[]
for i in dict1:
    dict2.append(float(i["amount"]))
print(sum(dict2))

4150.0

In [28]:
a=[400,700,200,33]
b=[]
for i in a:
    b.append(i)
print(sum(b)/4)

333.25

# input="a,a,a,b,b,c,c,c" output=a:3,b:2,c:3

In [67]:
mystr="a,a,a,b,b,c"
my_list=mystr.split(",")
f_list=[]
for ch in my_list:
    if ch not in f_list:
        print(ch,":",my_list.count(ch),end=" , ")
        f_list.append(ch)

a : 3 , b : 2 , c : 1 ,

In [56]:
def arithmetic(num1, num2):
    add = num1 + num2
    sub = num1 - num2
    multiply = num1 * num2
    division = num1 / num2
    sqaure=num1*2
    # return four values
    return add, sub, multiply, division,sqaure

# read four return values in four variables
a, b, c, d ,e= arithmetic(10, 2)

print("Addition: ", a)
print("Subtraction: ", b)
print("Multiplication: ", c)
print("Division: ", d)
print("sqaure",e)

Addition:  12
Subtraction:  8
Multiplication:  20
Division:  5.0
sqaure 20

# input=[2,45,32] output=[2,9,5]

In [55]:
a=[2,45,32,616]
b=[]
for num in a:
    num=str(num)
    num=(list(num))
    b.append(sum(map(int,num)))
print(a)
print(b)

[2, 45, 32, 616]
[2, 9, 5, 13]

In [54]:
number=[254,56,120,30,0.5,0]
max_num=0
for num in number:
    while num>max_num:
        max_num=num
print(max_num)

254

In [53]:
a=[254,56,120,30,0.5,1]
b=0
c=0
for i in a:
    if b<i:
        b=i
    elif i>c:
        i=c
print(b)
print(c)

254
0

In [35]:
class Max_Num():
    def __init__(self,a):
        self.a=a
        
        
    def show(self):
        a=[254,56,120,30,0.5,0]
        max_num=0
        for i in a:
            while i>max_num:
                max_num=i
            return (max_num)
            
obj=Max_Num(a)
obj.show()

254

In [30]:
d=set()
print(type(d))

<class 'set'>