# palidrome Number

In [2]:
def Palidrome_num(x):
    rev = 0
    i=x
    while x>0:
        rev=rev*10+x%10
        x=x//10
    if (i==rev):
        print("It is a palidrome Number")
    else:
        print("It is not palidrome Number")
x=int(input("enter any number: "))     
Palidrome_num(x)

enter any number: 456
It is not palidrome Number

# Palidrome String(using Slicing)

In [1]:
x=input("enter any word: ")   
b=x[::-1]
print(b)
if (b==x):
    print("It is palidrom")
else:
    print("It is not palidrome")

enter any word: iram
mari
It is not palidrome

# Palidrome String(using while loop)

In [ ]:

def Palidrome_str(s):
#     x=input("enter any word: ")  
    n = len(s)
    f=0
    l=n-1
    while (f<l):
        if s[f]==s[l]:
            f += 1
            l -= 1
        else:
            return ("It is not plaidrome")
    return ("It is plaidrome")
x=input("enter any word: ")  
Palidrome_str(x)

# Generate an infinite fiboncii series by using a generator

In [ ]:
# def fiboncii_series():
#     a,b=0,1
#     while True:
#         yield a
#         a,b=b,a+b
# f1=fiboncii_series()
# for i in f1:
#     print(i)
    
    
# this is wrong methord because the loop will go into infinite times

# Generate an infinite fiboncii series by using a generator(using next)

In [ ]:
def fiboncii_series():
    a,b=0,1
    while True:
        yield a
        a,b=b,a+b
f1=fiboncii_series()
print(next(f1))
print(next(f1))
print(next(f1))
print(next(f1))
print(next(f1))
print(next(f1))
print(next(f1))
print(next(f1))

# Fiboncii series using normal funtion

In [6]:

a=0
b=1
print(a)
print(b)
for i in range(10):
    c=a+b
    a=b
    b=c
    print(c)

0
1
1
2
3
5
8
13
21
34
55
89

#  fibonicii series using recurstion

In [13]:
def fibno(n):
    if n<=1:
        return n
    else:
        return (fibno(n-1)+fibno(n-2))
n=int(input("Enter the number"))
if n<=0:
    print('invalid')
else:
    for i in range(n):
        print(fibno(i))

Enter the number10
0
1
1
2
3
5
8
13
21
34

# max number without using max()

In [46]:
def max_num(A):
    b=0
    for i in A:
        while i>b:
            b=i
    print("max number is",b)

A=[100,200,90,80,1]
max_num(A)
A=[100,400,90,80,1]
max_num(A)

max number is 200
max number is 400

# min number without using min()

In [43]:
def max_num(A):
    b=100

    for i in A:
        while i<b:
            b=i
    print("max number is",b)


A=[100,200,90,80,1]
max_num(A)
A=[400,90,80,1]
max_num(A)

max number is 1
max number is 1

#  Find the student who has Highest marks ?

In [10]:
student = {"Umar":{"score": 67}, "Talha":{"score": 78}, "Shadab":{"score": 17}}
max=0
stu=''
for i in student:
    score=student.get(i)['score']
#     print(score)
    if score>max:
        max=score
#         print(max)
        stu=i
print ({stu:max})

{'Talha': 78}

# sort the list without using sort() it is insorting

In [21]:
def soring_num(num):
    for i in range(1,len(num)):
        while num[i-1]>num[i] and i>0: 
            num[i-1],num[i]=num[i],num[i-1]
            i = i-1
    print(num) 
num=[2,100,4,1]
soring_num(num)

[1, 2, 4, 100]

# Sort the list on the basis of second element in the tuple ?

In [12]:
def SortTuple(tup):
      
   
    n = len(tup)
      
    for i in range(n):
        for j in range(n-i-1):
          
            if tup[j][1] > tup[j + 1][1]:
                
                tup[j], tup[j + 1] = tup[j + 1], tup[j]
                  
    return tup
      
# Driver's code
tup= [("zoo", "peanuts"),(1, 'groot'), ("teams","ml"),('dell', 'ipad'), ('water', 'case'), (56,"apple")]

          
print(SortTuple(tup))

[(56, 'apple'), ('water', 'case'), (1, 'groot'), ('dell', 'ipad'), ('teams', 'ml'), ('zoo', 'peanuts')]

#  normal list alphabatical sort

In [8]:
b=['peanuts', 'groot', 'ml', 'ipad', 'case', 'apple']
count=97
c=[]
while len(c)<len(b):
    for i in b:
        if ord(i[0])==count:
            c.append(i)
    count+=1
print(c)

['apple', 'case', 'groot', 'ipad', 'ml', 'peanuts']

# Swap adjacent elements in a list without using inbuilt functions?

In [27]:
def swapPositions(list, pos1, pos2):
     
    list[pos1], list[pos2] = list[pos2], list[pos1]
    return list
 
# Driver function
List = [23, 65, 19, 90]
pos1, pos2  = 0, 1
 
print(swapPositions(List, pos1, pos2))

[65, 65, 19, 90]

In [25]:
x=[1,2,3,4,5,6]
for i in range(1,len(x),2):
    x[i],x[i-1]=x[i-1],x[i]
print(x)

[2, 1, 4, 3, 6, 5]

In [39]:
x=[1,2,3,4,8]
for i in (0,len(x),2):
    if i<(len(x)):
        x[i],x[i+1]=x[i+1],x[i]
print(x)

[2, 1, 4, 3, 8]

# Write a program to enter the number till the user wants and at the end it should display the sum of all numbers entered.(using while loop)

In [29]:
total = 0
ele = 0

b = []
n=int(input("Enter how much number you want to add "))
for j in range(int(n)):
    k=int(input("Enter the number "))
    b.append(k)


while(ele < len(b)):
	total = total + b[ele]
	ele += 1
print("Sum of all elements in given list: ", total)

Enter how much number you want to add 4
Enter the number 6
Enter the number 6
Enter the number 6
Enter the number 6
Sum of all elements in given list:  24

# Find the unique number in a list using function?

In [26]:
arr = [2,1,4,3,1,4,2,5,9]
def odd_occurring_num(arr):
    return [i for i in arr if arr.count(i) < 2]
print(arr)

print(odd_occurring_num(arr))

[2, 1, 4, 3, 1, 4, 2, 5, 9]
[3, 5, 9]

In [34]:
arr = [2,1,4,3,1,4,2]
result=0
for i in arr:
    result^=i
print(result)

3

In [42]:
arr = [2,1,4,3,1,4,2]
new_arr=[]
for num in arr:
    if arr.count(num) == 1:
        new_arr.append(num)
        print(new_arr)

[3]

# Create a iterator to find all the Power of 3?

In [27]:

def sqaure(a):
   

    for i in a:
        a=i*i*i
        i+=1
        b.append(a)
    print(b)

a=[1,2,3,4,5,6,7,8,9]
b=[]

sqaure(a)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [49]:
def sqaure(a):
   

    for i in a:
        a=i*i*i
        i+=1
        b.append(a)
    print(b)
    c=iter(b)
    print(next(c))
    print(next(c))


a=[1,2,3,4,5,6,7,8,9]
b=[]



sqaure(a)

[1, 8, 27, 64, 125, 216, 343, 512, 729]
1
8

# Find the even and odd from the given list using anonymous function

In [12]:
a=[2,47,8]
b=[(lambda x: "even" if x%2==0 else "odd") (x) for x in a]
print(b)

['even', 'odd', 'even']

In [14]:
a=[2,47,8]
b=map(lambda x: "even" if x%2==0 else "odd",a)
print(list(b))

['even', 'odd', 'even']

In [15]:
def even_odd(x):
    b=[]
    for i in x:
        if i%2==0:
            b.append ("even")
            
        else:
            b.append ("odd")
    print (b) 
a=[2,6,9,6]

(even_odd(a))
#  p=[1,2,7]

# print(b)

k=[2,3,4,]
(even_odd(k))

['even', 'even', 'odd', 'even']
['even', 'odd', 'even']

# Calculate the cube of all numbers from 1 to a given number

In [1]:
a=int(input("Enter the number"))
for i in range(1,a+1):
    print("cube of number:",i,"=>",i**3)

Enter the number10
cube of number: 1 => 1
cube of number: 2 => 8
cube of number: 3 => 27
cube of number: 4 => 64
cube of number: 5 => 125
cube of number: 6 => 216
cube of number: 7 => 343
cube of number: 8 => 512
cube of number: 9 => 729
cube of number: 10 => 1000

In [ ]:
ser=int(input("Enter the number"))
for i in range(user+1):
    if i%5==0 and i%3==0:
        print(i,"fizzbizz")
    elif i%5==0 and i%3!=0:
        print(i,"buzz")
    elif i%3==0 and i%5!=0:
        print(i,"fizz")
    else:
        print(i,"none")

# Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument

In [20]:
def fact(number):
    result=1
    for i in range(1,number+1):
        result*=i
    return result

    
fact(5)

120

# Write a Python function to create and print a list where the values are square of numbers between 1 and 30 (both included).

In [42]:
list=[]
for i in range(1,31):
    list.append(i*i)
print(list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

# Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters¶

In [23]:
def case(user):
    lowercase=0
    Uppercase=0
    for i in user:
            if i.islower():
                lowercase=lowercase+1
                
                
            else:
                i.isupper()
                Uppercase=Uppercase+1
    
    print("lowercase count=",lowercase)
    print ("uppercase count=",Uppercase)
user=(input("enter the string "))
case(user)

enter the string Iram
lowercase count= 3
uppercase count= 1

# Define a function which counts vowels and consonant in a word.

In [26]:
 letter=input("Enter only one word: ")
def word(a):
    vowels1 = "a,i,e,o,u,I,A,O,U,E"
    vowel=0
    cont=0
    for i in letter:
        if i in vowels1:
            vowel+=1
    
        else:
            cont+=1
    print("Total vowels in given sentence:",vowel)
    print("Total consonant in given sentence:",cont)
word(letter)

Enter only one word: iram
Total vowels in given sentence: 2
Total consonant in given sentence: 2

# Define a function that accepts radius and returns the area of a circle.

In [ ]:
import math
r=float(input("Enter the number to find raduis: "))
area=math.pi * r * r
print ("Area of the circle is: ",area )

# Write a Python function to multiply all the numbers in a list.¶

In [ ]:
def multiply(b):
    result=1
    for i in b:
        
        result*=i
        print(result)
        
    return result
n=int(input("Enter how much number you want to multiply "))
b=[]

for j in range(int(n)):
    k=int(input("Enter the number "))
    b.append(k)

multiply(b)

In [56]:
li = [{"name":"raja","totalPremium":4569},{"name":"raja","totalPremium":"4569"}, {"name":"raja","totalPremium":4569.44},{"name":"raja","totalPremium":"4569.54"}]
li2=[]
for i in li:
    li2.append(float(i["totalPremium"]))
b=
print(sum(li2))

18276.98

# input="sky is blue"
# output="blue is sky"

In [21]:
a="sky is blue"
b=a.split()
c=" ".join(b)
print(c)
# print(" ".join(a.split()[::-1]))

sky is blue

# dict1 = [{'item':'item1','amount':'400'},{'item':'item2','amount':'3000'},{'item':'item1','amount':'750'}]

In [31]:
dict1 = [{'item':'item1','amount':'400'},{'item':'item2','amount':'3000'},{'item':'item1','amount':'750'}]
dict2=[]
for i in dict1:
    dict2.append(float(i["amount"]))
print(sum(dict2))

4150.0

In [28]:
a=[400,700,200,33]
b=[]
for i in a:
    b.append(i)
print(sum(b)/4)

333.25

# input="a,a,a,b,b,c,c,c" output=a:3,b:2,c:3

In [67]:
mystr="a,a,a,b,b,c"
my_list=mystr.split(",")
f_list=[]
for ch in my_list:
    if ch not in f_list:
        print(ch,":",my_list.count(ch),end=" , ")
        f_list.append(ch)

a : 3 , b : 2 , c : 1 ,

#  compress the string as expected.input:aabbccaaaafffeiii output:a2b2c2a4f3e1i3

In [31]:
def compress(s):
    n=len(s)
    count=1
    new_str=""
    for i in range(n-1):
        if s[i]==s[i+1]:
            count +=1
        else:
            new_str=new_str + s[i] + str(count)
            count=1
    new_str=new_str + s[n-1] + str(count)

    return new_str

        
s='aabbccaaaafffeiii'            
print(compress(s))

a2b2c2a4f3e1i3

In [56]:
def arithmetic(num1, num2):
    add = num1 + num2
    sub = num1 - num2
    multiply = num1 * num2
    division = num1 / num2
    sqaure=num1*2
    # return four values
    return add, sub, multiply, division,sqaure

# read four return values in four variables
a, b, c, d ,e= arithmetic(10, 2)

print("Addition: ", a)
print("Subtraction: ", b)
print("Multiplication: ", c)
print("Division: ", d)
print("sqaure",e)

Addition:  12
Subtraction:  8
Multiplication:  20
Division:  5.0
sqaure 20

# input=[2,45,32] output=[2,9,5]

In [55]:
a=[2,45,32,616]
b=[]
for num in a:
    num=str(num)
    num=(list(num))
    b.append(sum(map(int,num)))
print(a)
print(b)

[2, 45, 32, 616]
[2, 9, 5, 13]

#  highest number

In [18]:
number=[254,56,120,30,0.5,0]
max_num=0
for num in number:
    while num>max_num:
        max_num=num
print(max_num)

254

#  smallest number

In [13]:
number1=[254,56,120,30,0.5]
for i in number1:
    min_num=254
    
    if i<min_num:
        min_num=i
print(min_num)

0.5

# Find highest number using class and object

In [7]:
class Max_Num():
    def __init__(self,a):
        self.a=a
        
        
    def show(self):
        a=[254,56,120,30,0.5,0]
        max_num=0
        for i in a:
            while i>max_num:
                max_num=i
            return (max_num)
            
obj=Max_Num(a)
obj.show()

254

In [5]:
#empty {} is dictionary not a set
a={}
print(type(a))
b=set()
print(type(b))

<class 'dict'>
<class 'set'>

# Using static method

In [29]:
class high():

    @staticmethod
    def hnum(lst):
        count=0
        for i in lst:
            if i>count:
                count=i
        return count
ob1=high()
ob1.hnum([251,56,120])

251

# Swap the number by giving the index value as argument

In [5]:
def swap(mylist, pos1, pos2):
     
    mylist[pos1], mylist[pos2] = mylist[pos2], mylist[pos1]
    return mylist
 
myList = [1, 2, 3, 4]
 
print(swap(myList,1, 2))

[1, 3, 2, 4]

# Swap the number by giving the index value as argument and also used nasted function to reverse the given list

In [22]:
def swap(mylist, pos1, pos2):
    myList = [1, 2, 3, 4]
    def inner(mylist, pos1, pos2):
   
        mylist[pos1], mylist[pos2] = mylist[pos2], mylist[pos1]
#         return(mylist)
        return (mylist[::-1])
    print(inner(myList,1, 2))
    
swap(myList,1, 2)

[4, 2, 3, 1]

# sort with sort function

In [7]:
my_list=[2,100,8,7,35]
for i in range(1,len(my_list)):
    while my_list[i-1]>my_list[i] and i>0:
        my_list[i-1],my_list[i]=my_list[i],my_list[i-1]
        i=i-1
print(my_list)

[2, 7, 8, 35, 100]

# to find common letter between two strings

In [20]:
a=input("Enter the name ")
b=input("enter the secod name ")
c=set(a)
d=set(b)
e=c.intersection(d)
print(e)

Enter the name iram
enter the secod name anam
{'m', 'a'}

In [21]:
a=input("Enter the name ")
b=input("enter the secod name ")
c=set(a)
d=set(b)
e=c&d
print(e)

Enter the name iram
enter the secod name anam
{'m', 'a'}

# Write a python program to count freqency of word apperaing in string

In [31]:
a="My name is iram and iram is girl"
b=a.split()
for i in b:
    c=b.count(i)
    print({i:c})

{'My': 1}
{'name': 1}
{'is': 2}
{'iram': 2}
{'and': 1}
{'iram': 2}
{'is': 2}
{'girl': 1}

# Write a python program to count freqency of word apperaing in string

In [49]:
a="My name is iram and iram is girl"
c={}
b=a.split()
print(b)
for i in b:
    if i not in c.keys():
        c[i]=0
    c[i]+=1
print(c)

['My', 'name', 'is', 'iram', 'and', 'iram', 'is', 'girl']
{'My': 1, 'name': 1, 'is': 2, 'iram': 2, 'and': 1, 'girl': 1}

# tuple define without type casting

In [41]:
var='x','y'
print(var)
print(type(var))

('x', 'y')
<class 'tuple'>

In [2]:
a=1,2,
print(a)
print(type(a))

(1, 2)
<class 'tuple'>

#  count take 3 argumnets ,substring,startwith,endwith

In [11]:
str1 = "my isname isisis jameis isis bond";
sub = "is";
print(str1.count(sub,11,-6))

4

# Input: nums = [0,2,1,5,3,4] Output: [0,1,2,4,5,3] list treated as index value

In [2]:
def buildArray(nums):
    for i in nums:
        result_list.append(nums[i])
    return (result_list)
    
    
        
my_list= [0,2,1,5,3,4]
result_list=[]

buildArray(my_list)

[0, 1, 2, 4, 5, 3]

#  Input: accounts =[[1,5],[7,3],[3,5]] Output: 10

In [8]:
accounts = [[2,8,7],[7,1,99],[1,9,9]]
b=[]
for i in accounts:
    b.append(sum(i))
    
print(max(b))

107

# Concatenation of Array Input: nums = [1,2,1]Output: [1,2,1,1,2,1]

In [2]:
nums=[1,2,1]
new_list=[]
for i in nums:
    new_list=nums.copy()*2
print(new_list)

[1, 2, 1, 1, 2, 1]

# Input: nums = [1,1,1,1,1] Output: [1,2,3,4,5]

In [12]:
nums= [1,2,3,4]
for i in range(1,len(nums)):
    nums[i]=nums[i] + nums[i-1]
print(nums)

[1, 3, 6, 10]

In [15]:
a=[1,23,45,8,2]
for i in range(1,len(a)):
    while a[i-1]>a[i] and i>0:
        a[i-1],a[i]=a[i],a[i-1]
        i=i-1
print(a)

[1, 2, 8, 23, 45]

In [7]:
dict1 = [{'item':'item1','amount':'400'},{'item':'item2','amount':'3000'},{'item':'item1','amount':'750'}]
dict2 = []
for i in dict1:
    dict2.append(float(i['amount']))
print(sum(dict2))

4150.0

In [10]:
dict1 = [{'item':'item1','amount':'400'},{'item':'item2','amount':'3000'},{'item':'item1','amount':'750'}]
dict2 = [float(i['amount']) for i in dict1 ]
print(sum(dict2))

4150.0

In [11]:
def minimum(num):
    b=num[0]
    for i in num:
        if i<b:
            b=i
    print(b)
a=[1,23,45,8,2]
minimum(a)
c=[5,0.5,0.3]
minimum(c)

1
0.3

# Input: candies = [2,3,5,1,3], extraCandies = 3 Output: [true,true,true,false,true]

In [5]:
extracandies=3
new_list=[]
a=[2,3,5,1,3]  
for i in a:
    if i+extracandies >= max(a):
       
        new_list.append(True)
    else:
        new_list.append(False)
print(new_list)

[True, True, True, False, True]

# nums = [1,2, ,1,1,3] output=5

In [9]:
def mul_num(a):
    for i in range(1,11):
        b=a*i
        print(b)
mul_num(2)

2
4
6
8
10
12
14
16
18
20

SyntaxError: invalid syntax (2984103741.py, line 2)

In [12]:
a=[1,2,3,4,5]
b=["even" if i%2==0 else "odd" for i in a]
print(b)

['odd', 'even', 'odd', 'even', 'odd']

# Input: nums = [1,2,3,1,1,3] Output: 4

In [7]:
nums = [1,2,3,1,1,3]
count=0
for i in range(len(nums)):
    for j in range(i+1,len(nums)):
        if nums[i]==nums[j]:
            count+=1
print(count)

4

In [4]:
def solve(nums):
    count=0
    n=len(nums)
    for i in range(n):
        for j in range(i+1,n):
            if nums[i] == nums[j]:
                count+=1
    return count

nums = [5,6,7,5,5,7]
print(solve(nums))

4

# Input: nums = [8,1,2,2,3] Output: [4,0,1,1,3]

In [14]:
nums = [8,1,2,2,3]
count=0
for i in nums:
    for j in range(len(nums)):
        if (nums[j]>-i)<0:
            count+=1
print(count)

IndexError: list index out of range

In [13]:
nums = [8,1,2,2,t]

l=len(nums)
ans=[]
count=0
for i in nums:
    for j in range(l):
        if (nums[j]-i)<0:
            print("num[j]",nums[j],"i",i)
            count+=1
            print(count)
    ans.append(count)
    
    count=0
print(ans)
# [4,0,1,1,3]

num[j] 1 i 8
1
num[j] 2 i 8
2
num[j] 2 i 8
3
num[j] 3 i 8
4
num[j] 1 i 2
1
num[j] 1 i 2
1
num[j] 1 i 3
1
num[j] 2 i 3
2
num[j] 2 i 3
3
[4, 0, 1, 1, 3]

In [6]:
list1=[1,2,3,4,5]

a=int(input("enter the number to find index "))
for i in range(len(list1)):
   
    if a==list1[i]:
        print(i)
        break
        
else :
    print(-1)

enter the number to find index 6
-1

In [14]:
a=[1,2,3,4,5]
for m,n in a:
    z=m+n
    print(z)

TypeError: cannot unpack non-iterable int object

In [9]:
class a:
    def show(self):
        print("A")
class b(a):
    def show(self):
        print("B")
class c(b):
    def show(self):
        print("C")
class d(c,b,a):
    pass
#     print("D")
obj=d()
obj.show()

C

In [5]:
var= "aJames Bond"
print(var[::-2])

do eaa

In [16]:
a=[4,54,3,4,5,6,4,23]
b=a[-2::-2]
print(b)

[4, 5, 3, 4]

In [18]:
a=[4,54,3,4,5,6,4,23]
b=a[2:0:-1]
print(b)

[3, 54]

In [7]:
a=input("Enter the letter")
if a>="A" and a<="Z":
    print("It's a capital")
else:
    print("It is not a capital")

Enter the letterF
It's a capital

In [11]:
a=input("Enter the letter ")

if a.isupper():
    print("Its is capital")
else:
    print("Its small")

Enter the letterj
Its small

In [17]:
a=[13,2,3,45,66,7,0,0.4]
for i in range(1,len(a)):
    while a[i-1]>a[i] and i>0:
        a[i-1],a[i]=a[i],a[i-1]
        i=i-1
print(a)

[0, 0.4, 2, 3, 7, 13, 45, 66]

In [21]:
a=[13,2,3,45,66,70.4]
b=a[0]
for i in a:
    if i<b:
        b=i
print(b)

2

In [2]:
a=[2,3,4,5,12,4,3]
for i in range(len(a)):
    for j in range(1,11):
        c=i*j
        print(c)

enter the nos2
0
0
0
0
0
0
0
0
0
0

In [2]:
mystr="a,a,a,b,b,c"
my_list=mystr.split(",")
print(my_list)
f_list=[]
for ch in my_list:
    if ch not in f_list:
        print(ch,":",my_list.count(ch),end=" , ")
        f_list.append(ch)

['a', 'a', 'a', 'b', 'b', 'c']
a : 3 , b : 2 , c : 1 ,