# 1. Write a Python program to triple all numbers of a given list of integers. Use Python map

In [4]:
a=(1,2,3,4,5,6,7,8,9,10)
result = map(lambda x : x + x + x,a)
print(list(result))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

# 2. Write a Python program to add three given lists using Python map and lambda.

In [11]:
a=[1,2,3]
b=[4,5,6]
c=[7,8,9]
result = map(lambda x, y, z: x + y + z, a, b, c) 
print(list(result))

[12, 15, 18]

# Write a Python program to listify the list of given strings individually using Python map.

In [13]:
a=["apple","ball","cat","dog"]
result=map(list,a)
print(list(result))

[['a', 'p', 'p', 'l', 'e'], ['b', 'a', 'l', 'l'], ['c', 'a', 't'], ['d', 'o', 'g']]

# 4. Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map

In [1]:
a=[1,2,3,4,5,6,7,8,9,10]
p=[1,2,3,4,5,6,7,8,9,10]
result=map(pow,a,p)
print(list(result))v
# map return object

[1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489, 10000000000]

# 5. Write a Python program to square the elements of a list using map() function

In [18]:
a=[1,2,3,4,5,6]
result=map(lambda x : x*x ,a)
print(list(result))

[1, 4, 9, 16, 25, 36]

In [3]:
a=[5,8,15,19]
for i,j in a:

TypeError: cannot unpack non-iterable int object