In [12]:
class Vehicle:
    def info(self):
        print("This is Vehicle")

class Car(Vehicle):
    def car_info(self, name):
        print("Car name is:", name)


obj1 = Car()
obj1.info()
obj1.car_info('BMW')

This is Vehicle
Car name is: BMW

In [33]:
class employee_name:
    def __init__(self,name):
        self.name=name
    def name(self):
        print("Name of the employee:",self.name)
        
class employee_position(employee_name):
    
    def __init__(self, name):
            super().__init__(name)
    def position(self):
            iram=super().name()
    self.employee_position="Software engineer"
    print("Position of employee:",self.employee_position) 
# class employee_salary(employee_position):
#     def __init__(self, name,id):
#         super().__init__(name,id)
#     def salary(self):
#         iram=super().name()
#         iram1=super().position()
#         self.salary=20000
#         print("Salary of employee:",self.salary)

emp1=employee_position("Iram")
emp1.position()
print(issubclass(employee_position,employee_name))

NameError: name 'self' is not defined

In [14]:
class A:
    def process1(self):
        print(" apple")

class B:
    def process1( pass
#     def process1(self):
#         print(" Cat")

# Creating object of C class
C1=C()
C1.process1()
# print(C.mro())

 ball

# Polymorphism

In [18]:
class student_marks:
     def student1(self,name1,name2):
        print("Name of the student:",name1)
        print("Name of the student:",name2)
        

class marks(student_marks):
    def marks2(self,mark1,mark2):
        print("marks of the Iram:",mark1)
        print("marks of the Anam:",mark2)
stu=marks()
stu.student1("iram","anam")
stu.marks2(90,9)

Name of the student: iram
Name of the student: anam
marks of the Iram: 90
marks of the Anam: 9

In [25]:
class student1:
    def name_1mark(self):
        print("Name of the student:Iram")
        print("Marks of the student:90")
class student2:
    def name_mark(self):
        print("Name of the student:Anam")
        print("Marks of the student:09")
def data(person):
    person.name_mark()
iram=student1()
iram.name_1mark()

Name of the student:Iram
Marks of the student:90

In [28]:
a=2
b=2
print(a==b)
print(a is b)
print(id(a))
print(id(b))

True
True
2134881009936
2134881009936

In [13]:
a="  iram ia iirl  "
x=a.strip("  iram")
print(x)

l

In [4]:
class employee_name:
    def __init__(self,name):
        self.name=name
    def name(self):
        print("Name of the employee:",self.name)
        
class employee_position(employee_name):
    
    def __init__(self, name,position):
            super().__init__(name)
            iram=super().name()
            self.position=position
    def position1(self):
        print("Position of employee:",self.position) 
    
emp1=employee_position("Iram","software engineer")
emp1.position1()

Name of the employee: Iram
Position of employee: software engineer

In [59]:
class student:
    def __init__(self,name,rollno):
        self.name=name
        self.rollno=rollno
    def show(self):
        print("Name of the student:",self.name,"Roll no of the student:",self.rollno)
class school(student):
    def __init__(self, name, rollno,subject):
        super().__init__(name, rollno)
        ira=super().show()
    def show(self):
        self.school="abp school"
        print("school name:",self.school)

s1=school("iram",44)
s1.show()

Name of the student: iram Roll no of the student: 44
school name: abp school

In [58]:
class student:
    
    def __init__(self,name,rollno):
        self.name=name
        self.rollno=rollno
    def show(self):
        return "Name of the student:",self.name,"Roll no of the student:",self.rollno
class school(student):
    def __init__(self, name, rollno,age):
        super().__init__(name, rollno)
        
        self.age = age
        zikra = super().show()
    def show(self):
        self.school="abp school"
        "school name:",self.school, "rollno.:",self.rollno, "age:", self.age  
class home(school):
    def __init__(self, name, rollno,age, subject):
        super().__init__(name, rollno, age)
        self.subject = subject
       
   
       
    def show(self):
        zikra = super().show()
        self.school="abp school"
        return "school name:",self.school, "rollno.:",self.rollno, "subject:", self.subject,zikra
        

s1=home('iram',55,33,"Maths")
s1.show()

('school name:', 'abp school', 'rollno.:', 55, 'subject:', 'Maths', None)

In [17]:
class name1:

def zikra(par1, par2)


statments

class name2(name1)

def zikra(par1, par2, par3)
super().zikra()




statements

IndentationError: expected an indented block after class definition on line 1 (4004227526.py, line 3)

In [84]:
class A:
    def __init__(self,name):
        self.name=name
        
    def show(self):
        print("name :",self.name)
        
        
class B:
    def __init__(self,name,rollno):
#         super().__init__(name)
#         x=super().show()
        self.name=name
        self.rollno=rollno
        
    def show(self):
        self.school="abp school"
        print=("school name:",self.school, "rollno.:",self.rollno)  
        
        
class C(B):
    def __init__(self,name,rollno,subject):
        super().__init__(name,rollno)
        super().show()
        self.subject=subject
        
    def show(self):
        print=("school name:",self.school, "rollno.:",self.rollno,"subject: ",self.subject) 
        
        
# s1=C("iram",22,"english")  
# s1.show()

s2 = B("ABC",12)
s2.show()