# About list

In [2]:
# list is used to store multiple data in sqare bracket
# it is ordered changeable allow duplicates
this_list=["bag","book","pencil","txtbook","true",88,"book"]
print(this_list)
# it will allow all data type like int boolean string

['bag', 'book', 'pencil', 'txtbook', 'true', 88, 'book']

## accses in list

In [3]:
a=list(("pen","book","pencil","textbook"))
print(a[1])

book

In [4]:
a=list(("pen","book","pencil","textbook"))
print(a[-1])
# negative index start from write with -1

textbook

In [20]:
a=list(("pen","book","pencil","textbook"))
print(a[-3:-1])
print(a[-2:-1])
print(a[-3:])
print(a[1:3])
# it will alwys start from ri8 to left

['book', 'pencil']
['pencil']
['book', 'pencil', 'textbook']
['book', 'pencil']

## to change the list item

In [28]:
a=[2,2,3,4,5,6,7,8,9,10]
a[0]=1
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
a=["y","z","c","d","e"]
a[0:2]=["a","b"]
print(a)

['a', 'b', 'c', 'd', 'e']

## to insert

In [35]:
a=["a","c","d","e"]
a.insert(1,"b")
print(a)

['a', 'b', 'c', 'd', 'e']

## append()

In [38]:
# it will add item but in the end
a=["a","b","c","d"]
a.append("e")
print(a)

['a', 'b', 'c', 'd', 'e']

## extend()

In [42]:
a=["a","b","c","d"]
b=["e","f","g","h","i"]
c=["j","k"]
a.extend(b)
a.extend(c)
print(a)
# to add or exyend two list

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

## remove()

In [43]:
a=["a","b","c","z","d"]
a.remove("z")
print(a)

['a', 'b', 'c', 'd']

## pop()

In [45]:
# it will remove specify given index value if we did not mentioned index value it will remove last item of the list
a=["a","b","c","z","d"]
a.pop(3)
print(a)

['a', 'b', 'c', 'd']

In [46]:
a=["a","b","c","d","z"]
a.pop()
print(a)

['a', 'b', 'c', 'd']

## del() it will delete item of list

In [48]:
a=["a","b","c","d","z"]
del a[4]
print(a)

['a', 'b', 'c', 'd']

## clear() it will clear the list

In [50]:
a=["a","b","c","d","z"]
a.clear()
print(a)

[]

## loop in list

In [55]:
# fpr printing a list item one by one
a=["one","two","three","four","five"]
for i in a:
    print(i)

one
two
three
four
five

In [4]:
a = ["apple", "banana", "cherry"]
for i in range(len(a)):
  print(i)
# where range is just number which start with 0

0
1
2

In [6]:
a = ["apple", "banana", "cherry"]
for i in range(len(a)):
  print(a[i])

apple
banana
cherry

In [5]:
# short term for
a = ["apple", "banana", "cherry"]
[print(i) for i in a]

apple
banana
cherry

[None, None, None]

In [1]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [7]:
a=["a","b","c"]
for i in a:
    print(i)

a
b
c

In [14]:
a=["ab","bb","cc"]
newlist=[]

for i in a:
    if "b" in i:
        newlist.append(i)
print(newlist)

['ab', 'bb']

In [16]:
a=["ab","bb","cc"]
iram=[i for i in a if "b" in i]
print(iram)

['ab', 'bb']

In [22]:
a=["one","two","three","for"]
b=[i for i in a if i !="three"]
print(b)

['one', 'two', 'for']

In [17]:
a=["one","two","three","four"]
b=[i for i in range(2)]
print(b)

[0, 1]

In [19]:
a=["one","two","three","four"]
b=[x.upper() for x in a]
print(b)

['ONE', 'TWO', 'THREE', 'FOUR']

In [21]:
a=["one","two","three","four"]
b=["numbers" for x in a]
print(b)

['numbers', 'numbers', 'numbers', 'numbers']

In [26]:
a=["one","five","three","four"]
b=[x if x != "five" else "two" for x in a]
print(b)

['one', 'two', 'three', 'four']

In [1]:
a=["c","d","a","b"]
a.sort()
print(a)
# it will assign item in ascending order

['a', 'b', 'c', 'd']

In [5]:
a=["40","20","10","30"]
a.sort (reverse=True)
print(a)

['40', '30', '20', '10']

In [6]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]

thislist.sort(key = myfunc)

print(thislist)

[50, 65, 23, 82, 100]