In [3]:
def pattern(n):
    for row in range(n):
        for col in range(row+1):
            print("*",end=" ")
            
            
        print()
            
                        

pattern(6)

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [38]:
def pattern(n):
    for i in range(n):
        for j in range(n):
            print("* ",end=" ")
            
            
        print()
            
                        

pattern(5)

*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *

In [40]:
def pattern(n):
    for i in range(n):
        for j in range(i,n):
            print("*",end=" ")
            
            
        print()
            
                        

pattern(5)

* * * * *
* * * *
* * *
* *
*

In [36]:
def pattern(n):
    i=1
    for i in range(n):
        for j in range(i+1):
            print(i,end="")
            
            
        print()
            
                        

pattern(5)

0
11
222
3333
44444

# Q:4

In [9]:

    
    for i in range(5):
        for j in range(i+1):
            print(j+1,end="")
            
            
        print()

1
12
123
1234
12345

# Q:6

In [13]:
k=ord("A") 
for row in range(5):
        for col in range(row+1):
    
            print(chr(k),end=" ")
            k=k+1
        print()

A
B C
D E F
G H I J
K L M N O

# Q:5

In [8]:

length=len(user)
for row in range(length):
        for col in range(row+1):
    
            print(user[col],end=" ")
            
        print("")

TypeError: object of type 'int' has no len()

# Q:7

In [27]:
n=5
for row in range(n):
    
    for col in range(i,n):
        print("",end=" ")
    for col in range(i+1):
            print("*",end=" ")
        
        
            
        
    print()

 * * * * *
 * * * * *
 * * * * *
 * * * * *
 * * * * *

In [4]:
list=[1,3,4,3,4,5,13,48,16]
for i in list:
    if i%2 ==0:
        print(i,"fizz")
        
    else:
        print(i,"buzz")
        
   #i is itratal variable

1 buzz
3 buzz
4 fizz
3 buzz
4 fizz
5 buzz
13 buzz
48 fizz
16 fizz

In [27]:
list=[1,3,4,3,4,5,13,48,16]

b=[f"{i}:fizz" if i%2==0 else f"{i}:buzz" for i  in list]
print(b)

['1:buzz', '3:buzz', '4:fizz', '3:buzz', '4:fizz', '5:buzz', '13:buzz', '48:fizz', '16:fizz']

In [6]:
user=int(input("Enter the number"))
for i in range(user+1):
    if i%5==0:
        print("fizzbizz")
    else:
        print("bizz")

Enter the number12
fizzbizz
bizz
bizz
bizz
bizz
fizzbizz
bizz
bizz
bizz
bizz
fizzbizz
bizz
bizz

# Q:8

In [ ]:
if i in range(5):
    if j in range(i+1)