### a. To create a tuple having a number from 1-20. Print the half of its value in 1 line and other half in next line .

In [7]:
a=(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
x=a[:10]
y=a[10:]
print(x)
print(y)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

## b. To create a tuple consisting of 20 number from a user. Create another tuple whose values are even number in the first tuple.

In [1]:
a=[]
for i in range(1,4
              ):
    user=int(input("enter the number "))
    a.append(user)
print(tuple(a))

b=[]
c=[]
for j in a:
    if j%2 ==0:
        b.append(j)
        b.sort()
        print(tuple(b))
    else:
        c.append(j)
print(tuple(c))
    
        
# else:
#     print("there is no even in given tuple")
# print(tuple(b))
    
# c=[]
# for k in a:
#     if k%2 ==1:
#         c.append(k)
# print(tuple(c))

enter the number 5
enter the number 4
enter the number 1
(5, 4, 1)
(4,)
(5, 1)

### c. To concatenate two tuples .

In [14]:
a=(1,2,3,4,5)
b=(6,7,8,9,10)
c=a+b
print(c)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

## d. To check whether a given element is present in tuple or not .

In [ ]:
a=(1,2,3,4,5,67,6,33,64,555)
b=int(input("Enter the number to check whether it is present or not in tuple: "))
if b in a:
    print("true")
else:
    print("false")

## e. To use the following methods on a tuple in the program:cmp(t1,t2)/t1==t2 ,len(t1) , zip(t1,t2) , max(t) , min(t) , tuple()

In [21]:
t1=(1,2,3,4,5,6,7,8)
t2=(2,6,4,12,43,55)
print (t1 == t2)

False

In [25]:
t1=(1,2,3,4,5,6,7,8)
print(len(t1))

8

In [26]:
t1=(1,2,3,4,5,6,7,8)
print(max(t1))

8

In [27]:
t1=(1,2,3,4,5,6,7,8)
print(min(t1))

1

In [4]:
x = ("A","B","c")
y = ("Apple", "Banana", "Cherry")
z = zip(x, y)
print(tuple(z))

(('A', 'Apple'), ('B', 'Banana'), ('c', 'Cherry'))

# Python Dictionaries practice

## f. To create a dictionary with any five key value pair . print the dictionary . Add an element in a given dictionary and delete an element

In [9]:
car= {
  "Color": "red",
  "model": "Audi",
    "size":"big",
    "make":"honda"
}
car["year"] = 1996
del car["size"]

print(car)

{'Color': 'red', 'model': 'Audi', 'make': 'honda', 'year': 1996}

## To create 2 dictionaries using dictionary comprehension method.

In [18]:
car= {
  "Color": "red",
  "model": "Audi",
    "size":"big",
    "make":"honda"
}

car2={i for i in car.valus()}
print(car2)

{'make', 'size', 'model', 'Color'}

## To demonstrate any five methods on dictionary

In [19]:
#.copy()
car= {
  "Color": "red",
  "model": "Audi",
    "size":"big",
    "make":"honda"
}
x=car.copy()
print(x)

{'Color': 'red', 'model': 'Audi', 'size': 'big', 'make': 'honda'}

In [23]:
#fromkeys()
a=("one","two","three","four")
b=1
number=dict.fromkeys(a,b)
print(number)

{'one': 1, 'two': 1, 'three': 1, 'four': 1}

In [3]:
#get()
car= {
  "Color": "red",
  "model": "Audi",
    "size":"big",
    "make":"honda"
}
#a=car.get("color")

print(car["Color"])

red

In [3]:
#update
red={"green","red"}
car= {
  "Color": red,
  "model": "Audi",
    "size":"big"
}
#car.update({"make":"honda"})
#print(car)
#car["add"]=50
print(car)

{'Color': {'green', 'red'}, 'model': 'Audi', 'size': 'big'}

In [37]:
#values
car= {
  "Color": "red",
  "model": "Audi",
    "size":"big"
}
a=car.values()
print(a)

dict_values(['red', 'Audi', 'big'])

## To demonstrate 5 methods of python data structure set .

In [9]:
#add()
a = {"one", "two", "three"}
a.pop("for")

print(a)

TypeError: set.pop() takes no arguments (1 given)

In [40]:
#difference()
a = {"one", "two", "three"}
b = {"five", "six", "one"}

c = a.difference(b) 
print(c)

{'three', 'two'}

In [46]:
#isdisjoin()
a={"one","two","three"}
b={"five","six","seven"}
c=a.isdisjoint(b)
print(c)

True

In [47]:
#issubset()
x={1,2,3,4,}
y={1,2,3,4,5,6,7,8}
z=x.issubset(y)
print(z)

True

In [1]:
#symmetric_difference
a={1,2,3,4,}
b={1,2,3,4,5,6,7,8}
c=a.symmetric_difference(b)
print(c)

{5, 6, 7, 8}

In [2]:
a=[2,4,5,6]
for i in a:
    if i%2==0:
        print(f'{i} is even')

2 is even
4 is even
6 is even

In [5]:
a="2344"
for i in a:
    print(i)

2
3
4
4

In [8]:
add(3+6)

def add(a,b):
    c=a+b
    return c
print(c)

NameError: name 'add' is not defined

In [3]:
d4 = {"void":" emptiness", " pacimist ": " person who emphasize bad part of a situation" ,"optimistic" : " hopefull person " , "crack head" : " crazy " } 
Word = input ()
print(d4[Word])

void
 emptiness

In [25]:
ope=input("enter the operation: ")
a=int(input("enter first number: "))
b=int(input("enter the second number: "))

if ope=="*" and a==56 and b==3:
    print(555)
elif ope=="+" and a==56 and b==9:
    print(77)
elif ope=="/" and a==56 and b==6:
    print(4)

elif ope=="*":
    print(a,"*",b,"=",a*b)
elif ope=="+":
    print(a,"+",b,"=",a+b)
elif ope=="-":
    print(a,"-",b,"=",a-b)
elif ope=="/":
    print(a,"/",b,"=",a/b)
else:
    print("abe chutiya operations matlab +-*/")

enter the operation: %
enter first number: 4
enter the second number: 4
abe chutiya operations matlab +-*/